.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    width: 95%;
    align-content: center;
    justify-items: center;
    gap: 5vw;
}
.project > *{
    align-self: center;
}
.project-description{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-self: center;
    height : 50%;
    width: 80%;
}