.bio{
    width : 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.send-msg{
    display: flex;
    align-items: center;
    width: max-content;
}
.send-msg:hover{
    cursor: pointer;
    background-color: rgb(191, 207, 228, 0.5);
}