.btn-style{
    height: 3em;
    width: max-content;
    font-size: 1.2em;
    padding: 0 1em;
    background-color: #A6D4FA;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0, 100% 83%, 95% 100%, 0% 100%);
}
.btn-style:hover{
    cursor: pointer;
    transform: scale(1.05);
}